/*=================Generic=================*/
main {
    background-color: var(--color-background);
}

body {
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--color-background);
}

/*=================Header=================*/

.sr-only {
    display: none;
}

.header-bg {
    height: 238px;
    background: var(--color-mainGreen);
}

header {
    display: flex;
    width: 100vw;
    height: 100px;
    color: var(--color-mainWhite);
    justify-content: space-between;
    padding: 1.75rem;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: var(--color-mainWhite);
}

.wrap-header-link {
    display: flex;
    gap: 2rem;
}

header a:hover {
    text-shadow: 2px 3px 7px var(--color-darkerText);
}

.bMenu {
    display: none;
    fill: var(--color-mainWhite);
}

header span {
    color: var(--color-green);
}

/*=================First Section Blocks=================*/

.icon-img {
    height: 32px;
    width: 32px;
}

.wallet-section {
    margin: -6.75rem auto auto auto;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    width: 80vw
}

.wallet-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wallet-description, .money {
    margin: 0 0.25rem 0 0.25rem;
}

.wallet-description h2 {
    font-size: 16px;
    color: var(--color-lighterText);
}

.info-block {
    background-color: var(--color-mainWhite);
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 136px;
    padding: 1.3rem;
    border-radius: 7px;
    
}

.money {
    margin: .75rem 0 0 0;
    font-size: clamp(16px, 9vw, 2.25rem);
    color: var(--color-darkerText);
}

.total-wallet-money {
    color: var(--color-mainWhite);
    background-color: var(--color-green);
}

.total-wallet-money p, .total-wallet-money h2 {
    color: var(--color-mainWhite);
}

/*=================Second Section Transactions =================*/

#transactions {
    margin: 3rem auto auto auto;
    width: min(1150px, 80vw);
}

.add-transactions {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-green);
    margin: 0 0 0 1.25rem;
}

.add-transactions:hover {
    color: var(--color-greenGlow);
    transition: .2s;
}

table {
    margin: 10px auto;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    background-color: var(--color-background);
}

table tr {
    row-gap: 2rem;
    border-radius: 6px;
}

table th {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-lighterText);
    text-align: left;
    padding-left: 3.80rem;
    line-height: 2.25rem;
}

table td {
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--color-mainWhite);
    color: var(--color-darkerText);
    text-align: left;
    padding-left: 3.80rem;
    line-height: 3.25rem;
}

td.income {
    color: var(--color-green);
}

td.expense {
    color: var(--color-red);
}

td:first-child {
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
}
td:last-child {
    border-bottom-right-radius: 4px; 
    border-top-right-radius: 4px; 
}

.remove-icon, .edit-icon {
    height: 27px;
    width: 27px;
    margin: 0 auto;
    vertical-align: middle;
}

.remove-icon:hover {
    transform:scale(1.1);
    filter: drop-shadow(0 0 0.45rem rgb(253, 152, 152));
}

.edit-icon:hover {
    transform:scale(1.1);
    filter: drop-shadow(0 0 0.45rem rgb(100, 100, 100));
}

/*=================Modal Section =================*/

.modal-overlay, .edit-modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.js-active, .edit-modal-overlay.js-active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal-container {
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    padding: 2rem;
    border-radius: 7px;

    width: 560px;
}

.modal-container h2 {
    margin: 0 0 1.3rem 0;
    color: var(--color-darkerText);
}


form input {
    margin: 0 0 .7rem 0;
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
}

form input::placeholder {
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

#input-number {
    margin: 0;
}

.input-help {
    font-weight: bold;
    font-size: 0.65rem;
    color: var(--color-darkerText);
    margin: 0 0 0 .2rem;
}

/* === Placeholder Styling test */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: var(--color-darkerText);
}

/* === Regular Text Styling test */
input[type="date"].date-input--has-value::-webkit-datetime-edit-text,
input[type="date"].date-input--has-value::-webkit-datetime-edit-month-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-day-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-year-field {
    color: var(--color-darkerText);
}

#input-date {
    margin: 0.6rem 0 0 0;
}

.button-container {
    display: flex;
    gap: 2rem;
    margin: 1.75rem 0 0 0;
}

input[value="Cancelar"] {
    background-color: transparent;
    border: 2px solid rgba(248, 38, 38, 0.925);
    color: rgba(248, 38, 38, 0.925);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

input[value="Salvar"] {
    background-color: var(--color-green);
    color: var(--color-mainWhite);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

input[value="Salvar"]:hover {
    filter: drop-shadow(0 0 0.15rem var(--color-green));
}

input[value="Cancelar"]:hover {
    filter: drop-shadow(0 0 0.005rem rgba(248, 38, 38, 0.925));
}

/*=================Footer=================*/

footer{
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-mainWhite);
    padding: 4rem 0 2rem;
}

footer span {
    color: var(--color-green);
}

footer > h2 {
    text-shadow: 2px 3px 7px var(--color-darkerText);
}


@media screen and (max-width:1024px) {

    .wrap-header-link > a {
        display: none;
    }

    .bMenu {
        display: flex;
    }

    .wallet-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -4.75rem auto auto auto;
        width: 10vw;
    }
    
    .wallet-section :nth-child(2) { order: 3; }
    .wallet-section :nth-child(1) { order: 2; }
    .wallet-section :nth-child(3) { order: 1; }

    .info-block {
        width: 70vw;
    }

    #transactions {
        width: 95vw;
    }

    table th {
        padding-left: 0.80rem;
        line-height: 1.25rem;
    }
    
    table td {
        height: 40px;
        padding-left: 0.80rem;
        line-height: 1.75rem;
    }
}